@charset "utf=8";

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

:root { 
    --background: #fdfcf5;
    --alternate-background: #F1EEEF;
    --lighter-primary: #c9e9f6;
    --primary-color: #A63A50;
    --font-color: #fff; 
} 

body {
    color: #333;
    background-color: var(--background);
}

section {
    min-height: calc(100dvh - 60px - 56px);
}

.flex {
    display: flex;
}

.align {
    align-items: center;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.gap-20 {
    gap: 20px;
}

.gap-40 {
    gap: 40px
}

.gap-80 {
    gap: 80px
}

.column {
    flex-direction: column;
}

.grid {
    display: grid;
    place-items: center;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

figure {
    position: fixed;
    left: 980px;
    bottom: -40px;
    z-index: -1;
    width: 70%;
}

h2 {
    font-size: 3.8rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.bold {
    font-weight: 700;
    font-style: italic;
}

.daycare-service {
    width: 100%;

    p, button {
        margin-top: 12px;
    }

    .primary, .secondary {
        padding: 16px 24px;
        width: 100%;
        margin-bottom: 20px;
    }

    .primary {
        background-color: var(--primary-color);
        color: var(--font-color);
        font-weight: 500;
    
        &:hover {
            background-color: #5f1c29;
            transition: background-color 0.25s ease-in-out;
        }
    }
    
    .secondary {
        border: 1px solid var(--primary-color);
        background-color: var(--background);
        color: var(--primary-color);
    
        &:hover {
            background-color: #f5f4ef;
            transition: background-color 0.25s ease-in-out;
        }
    }
}

.daycare-prices {
    width: 100%;

    div + div {
        margin-top: 20px;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - Media Queries - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* 1200px and down*/
@media (max-width: 1200px) {
    figure {
        left: 900px;
    }
} 

/*992px and down*/
@media (max-width: 992px) {
    figure {
        left: 700px;
    }
}

/*768px and down*/
@media (max-width: 768px) {
    figure {
        left: 500px;
    }
}

/*480px and down*/
@media (max-width: 480px) {
    figure {
        left: 300px;
    }

    section {
        flex-direction: column;
    }
}

