@charset "utf=8";

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

:root { 
    --background: #fdfcf5;
    --alternate-background: #F1EEEF;
    --lighter-primary: #c9e9f6;
    --primary-color: #A63A50;
    --font-color: #fff; 
} 

body {
    color: #333;
    background-color: var(--background);
}

section {
    height: 100dvh;
}

.flex {
    display: flex;
}

.align {
    align-items: center;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.gap-20 {
    gap: 20px;
}

.gap-40 {
    gap: 40px
}

.gap-80 {
    gap: 80px
}

.grid {
    display: grid;
    place-items: center;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.daycare-service {
    width: 50%;
}