@charset "utf=8";

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - Main Stylings - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root { 
    --background: #fdfcf5;
    --alternate-background: #F1EEEF;
    --lighter-primary: #c9e9f6;
    --primary-color: #A63A50;
    --font-color: #fff; 
} 
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

.align {
    align-items: center;
}

.center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.gap-20 {
    gap: 20px;
}

.gap-40 {
    gap: 40px
}

.gap-80 {
    gap: 80px
}

.grid {
    display: grid;
    place-items: center;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.alternate-background {
    background-color: var(--alternate-background);
    width: 100%;
    padding-bottom: 40px;
}

h2, h3 {
    font-family: 'Bubblegum Sans', Arial, Helvetica, sans-serif;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - Ashedzi's hero-banner and about section - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
section {
    padding-bottom: 20px;
}

.hero-section {
    height: 500px;
}

.hero-text {
    h2 {
        font-size: 8rem;
        line-height: 1.2;
    }

    p {
        flex-wrap: balance;
        font-size: 1.8rem;
        margin-top: 12px;
        font-family: 'Open Sans','Inter', Arial, Helvetica, sans-serif;
    }

    button {
        padding: 16px 24px;
        border-radius: 50px;
        margin-top: 50px;
        background-color: var(--primary-color);
        color: var(--font-color);
        font-weight: 500;

        &:hover {
            background-color: #5f1c29;
            transition: background-color 0.25s ease-in-out;
        }
    }
}

.hero-image {
    height: 522px;
    padding: 10px;
    display: grid;
    place-items: center;
   
    img {
        height: auto;
        width: 100%;
        object-fit: cover;
    }
}

.hero-image1 {
    display: none;
}

.content {
    figure {
        width: 60%;
    }
}

h3 {
    font-size: 4rem;
}

.about-content {
    width: 60%;
}

.content {
    p {
        font-size: 1.9rem;
    }
}

section:nth-of-type(2 ) {
    padding-top: 40px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - Xiyu's Services Section - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

  main h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .services-title {
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
  }
  
  main > p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto 40px;
    color: #555;
  }
  
  .xiyu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    padding-bottom: 60px;
  }
  
  .xiyu-container section {
    flex: 0 1 220px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }
  
  .xiyu-container section img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .xiyu-container section h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
}
  
  .xiyu-container section p {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666;
}

.pic-1, .pic-2, .pic-3 {
    margin-left: 10px;
}

.pic-4 {
    margin-left: 20px;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - Contact and Google Maps - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */


.contact-left, .contact-right{
    flex-direction: column;
    margin-top: 80px;
}
.contact-right {
    align-items: center;
}

/* - - - -  - - - - - - - */
/*       Contact Me       */
/* - - - -- - - - - - - - */

.contact-me {
    text-align: center;
    margin-bottom: 50px;
    flex-direction: column;
    width : 500px;
  }
  
  .contact-me h3 {
    color: #000;
    font-size: 3.5rem; 
    margin-bottom: 20px; 
  }
  
  .contact-me form {
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    padding: 0 20px;
  }
  
  .contact-me input,
  .contact-me textarea {
    padding: 15px;
    border-radius: var(--border-radius); 
    border: 2px solid var(--border-color); 
    color: #000; 
    font-size: 1.2rem;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .contact-me input:focus,
  .contact-me textarea:focus {
    border-color: var(--primary-colour); 
    box-shadow: 0 0 10px rgba(143, 112, 227, 0.5); 
    outline: none; 
  }
  
  .contact-me textarea {
    resize: none; 
  }
  
  .send-message {
    padding: 16px 24px;
    border-radius: 50px;
    width: 300px;
    margin-top: 50px;
    background-color: var(--primary-color);
    color: var(--font-color);
    font-weight: 500;

    &:hover {
        background-color: #5f1c29;
        transition: background-color 0.25s ease-in-out;
    }
}

  .error-message-area {
    color: red;
    font-size: 0.9em;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffe0e0;
    border-radius: 5px;
    display: none; 
}
  

/* - - - -  - - - - - - - */
/*         Form           */
/* - - - -- - - - - - - - */

form {
    gap: 10px; 
    height: auto; 
}

.form-title {
    margin-bottom: 10px;
}

.form-container {
    flex: 1;
    max-width: 100%; 
    margin-left: auto;
    margin-right: auto;  
}

form input[type=text],
form input[type=email] {
    margin-top: 0;
    width: 100%;
    height: 46px;
    padding: 0 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
    background-color: #fff;
    margin-bottom: 15px;
    background: #fff;
}

form input[type=text]:focus,
form input[type=email]:focus,
textarea:focus {
    border: 1px solid #62adff;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    resize: none;
}

.form-label {
    color: #000;
    margin: 0;
    text-align: left;
}

/* - - - -  - - - - - - - */
/*      Google Map        */
/* - - - -- - - - - - - - */
.google-map {
    margin: 0;
    flex: 1;
    width: 100%; 
    max-width: 600px;
    height: 450px;
}


/*---------------------------------------------------------------------------*/
/*------------------------------Footer---------------------------------------*/
/*---------------------------------------------------------------------------*/

footer {
  height: 60px;
  background-color: #000;
  color: #fff;

  .left-footer ul li{
      display: inline;

      a {
          text-decoration: none;
          height: 40px;
          width: 40px;
          padding: 5px;
          border-radius: 50%;
          font-size: 1.6rem;
          background-color: rgb(255 255 255 / 10%);
          backdrop-filter: blur(100px) saturate(140%);
          height: 30px;
          width: 30px;
          border: 1px solid #dcdcdc;
          position: relative;
          right: 2px;

          i {
              color: #fff;
          }

          &:hover {
              background-color: #672C36;
              transition: color 0.25s ease-in-out;
          }
      }
  }
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - Media Queries - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* 1200px and down*/
@media (max-width: 1200px) {

} 

/*992px and down*/
@media (max-width: 992px) {
    .hero-text {

        h2 {
            font-size: 6rem;
        }

        p {
            font-size: 1.6rem;
        }
    }
}

/*768px and down*/
@media (max-width: 768px) {
    .hero-text {

        h2 {
            font-size: 5rem;
        }

        p {
            font-size: 1.4rem;
        }
    }

    .hero-section {
        height: auto;
    }
}

/*480px and down*/
@media (max-width: 480px) {
    .hero-text {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        h2 {
            font-size: 4rem;
            text-align: center;
        }

        p {
            font-size: 1.4rem;
        }

        button {
            margin-top: 20px;
            font-size: 1.4rem;
        }
    }

    .hero-content, .content {
        flex-direction: column;
    }

    .content {
        gap: 20px;
    }

    .hero-image {
        display: none;
    }

    .hero-image1 {
        height: 300px;
        width: 200px;
        padding: 10px;

        display: grid;
        place-items: center;
       
        img {
            height: auto;
            width: 100%;
            object-fit: cover;
        }
    }

    .hero-section {
        height: auto;
    }

    .about-content {
        width: 100%;

        h3 {
            font-size: 3rem;
            text-align: center;
        }

        p {
            font-size: 1.6rem;
        }
    }
}
