@charset "utf-8";

:root {
    --primary-color: #A63A50;
    --font-color: #fff; 
}

body {
    font-family: 'Open Sans', ;
}
.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.gap-20 {
    gap: 20px;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
    place-items: center;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.hero-section {
    height: 600px;
}

section {
    padding-bottom: 20px;
}

.hero-text {
    h2 {
        font-size: 8rem;
        line-height: 1.2;
        font-family: 'Bubblegum Sans';
    }

    p {
        flex-wrap: balance;
        font-size: 1.8rem;
        margin-top: 12px;
        font-family: 'Open Sans';
    }

    button {
        padding: 16px 24px;
        border-radius: 50px;
        margin-top: 50px;
        background-color: var(--primary-color);
        color: var(--font-color);
        font-weight: 500;

        &:hover {
            background-color: #5f1c29;
            transition: background-color 0.25s ease-in-out;
        }
    }
}

.hero-image {
    height: auto;
    width: 50%;
    
    img {
        height: auto;
        width: 100%;
        object-fit: cover;
    }
}